/************************************************************************************
smaller than 1553
*************************************************************************************/
@media screen and (max-width: 1053px) {





}



/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  main .column {
    width: 50%;
  }


}

/************************************************************************************
smaller than 600
*************************************************************************************/

@media screen and (max-width: 600px) {
  main .column {
    width: 100%;
  }

  .modal {
    width: 90% !important;
  }

header h1 {
    font-size: 1.4em !important;
  }


}

/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
  nav a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
main,
  aside {
    padding: 0 !important;
  }


header h1 {
    font-size: 1em !important;
  }
  p {
    font-size: 1em !important;
  }
}
